body {
    background-color: #eeeee4;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    width: 400px;
    height: 600px;
    display: flex;
    border: 2px black solid;
    padding: 16px;
    flex-direction: column;
    gap: 8px;
    background-color: grey;
}

.btns-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    height: 100%;
}

button {
    padding: 16px;
    border: 2px black solid;
    border-radius: 10px;
    font-size: 32px;
}

button:hover,
#btn-pointer:hover,
#btn-equal:hover,
#btn-clear:hover,
#btn-backspace:hover {
    background-color: #315f94;
}

.functional-btns {
    display: flex;    
    gap: 8px;
}

#btn-clear {
    flex: 1;
}

#btn-backspace {
    flex: 1;
}

.screen {
    height: 150px;
    padding: 16px;
    border: 2px black solid;
    font-size: 42px;
    text-align: right;
    background-color: #d1d7de
}

#screen-last {
    font-size: 24px;
}

.number,
#btn-pointer {
    background-color: #d1d7de
}

.operator {
    background-color: #8ea4bd;
}

#btn-equal {
    background-color: #90bd8e;
}

#btn-clear {
    background-color: #e86687;
}

#btn-backspace {
    background-color: #e86687;
}